* {
    background-color: #f9f9f9;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
p {
    padding: 0 1rem;
}


.text {
    max-width: 1000px;
    text-align: justify;
}

.subtitulo {
    text-indent: 0;
    font-size: larger;
}

.titulo {
    text-indent: 0;
    font-size: x-large;
}
 .cita {
    text-indent: 0;
    padding-left: 2rem;
    font-size: medium;
 }


/* imagen */
.imgcont {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    border-radius: 1px;
    margin: 20px 0 100px 0;
}

